<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Lista de productos</h1>
    <ul id="productList">
        {{#each products}}
            <li>{{this.title}} - ${{this.price}} ({{this.stock}} disponibles)</li>
        {{else}}
            <li>No hay productos disponibles.</li>
        {{/each}}
    </ul>
    <a href="/productTiempoReal">Ver productos en tiempo real</a>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('productListUpdate', (updatedProducts) => {
            const productList = document.getElementById('productList');
            productList.innerHTML = '';  // Limpiar la lista antes de actualizarla

            updatedProducts.forEach(product => {
                const li = document.createElement('li');
                li.innerHTML = `${product.title} - $${product.price} (${product.stock} disponibles)`;
                productList.appendChild(li);
            });
        });
        
    </script>
</body>
</html>